#headerArea{
    background-color: #ffffff;
    border-bottom: 1px solid #544585;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 2;
}

#headerConstant{
    height: 40px;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#headerConstant #spacer{
    aspect-ratio: 3/4;
    height: 100%;
    visibility: hidden;
}

#headerConstant #logo{
    height: 100%;
}

#menucheckbox{
    display: none;
    padding: 0;
    width: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    vertical-align:middle;
    background-color: #ffffff;
}

#menubutton{
    display: flex;
    align-content: center;
    aspect-ratio: 3/4;
    height: 100%;
}
 
.inline_nav{
    display: none;
}
.collapsing_nav{
    align-items: center;
    justify-content: space-around;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.nav_link{
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #544585;
    color: #ffffff;
    border-radius: 1.5rem;
    justify-items: center;
    text-decoration: none;
}

