html{
    font-size: 14px;
    font-family: "Cambay", "Arial", serif;
}

body{
    margin: 0;
    height: 100%;
    min-width: 300px;
}

h1{
    color: #544585;
    font-family: "Salsa", "Arial", sans-serif;
    font-size: 2.986rem;
    font-weight: 700;
}

h2, h3, h4{
    font-family: "Quando", "Arial", sans-serif;
    color: #544585;
}

h2{
    font-size: 2.488rem;
}
h3{
    font-size: 2.074rem;
}
h4{
    font-size: 1.728rem;
}

#content{
    grid-area: content;
    grid-template-rows: max-content 1fr;
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: grid;
    width: 100vw;
    justify-items: center;
}

.contentPage{
    margin-top:40px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template: 35vh max-content / 100%;
    grid-template-areas: 
    "image"
    "content";
    justify-content: center;
    justify-items: center;
    overflow-x: hidden;
    height: 100%;
    max-width: 1700px;
}

#bkgdImg{
    max-height: 35vh;
    overflow: hidden;
    min-width: 100%;
    object-fit:cover;
    grid-area: image;
}