@media screen and (min-width:500px) and (max-width:800px) and (min-height:400px) {
    #headerConstant{
        height: 50px;
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
    body {
        grid-template-rows: 50px 1fr 50px;
    }
    html{
        font-size: 16px;
    }
    #bkgdImg{
        top:50px
    }
    .social__caption{
        display: inline;
    }
}

@media screen and (min-width:800px) and (min-height:800px) {
    #headerConstant{
        height: 50px;
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
    body {
        grid-template-rows: 50px 1fr 50px;
    }
    #menubutton, .collapsing_nav, #spacer{
        display: none;
    }
    .inline_nav{
        display: block;
    }
    html{
        font-size: 18px;
    }
    #bkgdImg{
        top:50px
    }
    .social__caption{
        display: inline;
    }
}

@media screen and (min-width:1700px) and (min-height:800px) {
    #bkgdImg{
        border-radius: 0 0 30px 30px;
    }
    .social__caption{
        display: inline;
    }
}