#bkgdImg {
    object-position: center 30%;
}

#blurbs{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    padding: 1rem;
}

.aboutBlurb{
    color: #ffffff;
    background-color: #544585;
    border-radius: 20px;
    max-width: 800px;
    padding: 0.5rem;
}
.aboutBlurb__title {
    color: #FFDA54;
    margin-bottom: .5rem;
}
.aboutBlurb__body {
    line-height: 1.3;
}
