#bkgdImg {
    object-position: center top;
}

#petsGallery{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 1000px;
    height: fit-content;
    padding: 1rem;
}

.pet{
    width: 110px;
    height: fit-content;
    display: grid;
    grid-template-rows: 1fr 2rem;
    border: 1px solid #544585;
    background-color: #544585;
    border-radius: 10px;
    align-items: center;
}

.pet__image{
    width: 100%;
    border-radius: 10px;
}

.pet__name{
    color: #FFDA54;
    margin: auto;
    padding: .25rem;
    font-size: 1.5rem;
}