html{
    font-size: 14px;
    font-family: "Cambay", "Arial", serif;
}

h1{
    color: #544585;
    font-family: "Salsa", "Arial", sans-serif;
    font-size: 2.986rem;
    font-weight: 700;
}

h2, h3, h4{
    font-family: "Quando", "Arial", sans-serif;
    color: #544585;
}

h2{
    font-size: 2.488rem;
}
h3{
    font-size: 2.074rem;
}
h4{
    font-size: 1.728rem;
}


#headerArea{
    background-color: #ffffff;
    margin-bottom: 15px;
    border-bottom: 1px solid #544585;
    overflow: hidden;
}

header{
    height: 40px;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #spacer{
    width: 30px;
    visibility: hidden;
}

header #logo{
    height: 100%;
}

#menucheckbox{
    display: none;
    padding: 0;
    width: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    vertical-align:middle;
    background-color: #ffffff;
}

#menubutton{
    display: block;
    width: 30px;
    height: 30px;
}

header #mobilemenuimage{
    margin: auto;
    width: 100%;
    display: block;
} 

.collapsing_nav{
    display: none;
}

.nav_link{
    padding-top: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: #544585;
    color: #ffffff;
    border-radius: 1.5rem;
    justify-items: center;
    text-decoration: none;
}

.collapse_input:checked ~ .collapsing_nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
